{% extends '_layout.html' %}
{% block title %}{{user.username}}'s profile{% endblock %}
{% block content %}
<div class="">
  <div class="row mt-3 mb-5">
    <div class="col-md-6 text-right">
      <img src="{{user.profile_image_url }}" width="150" class="img-thumbnail rounded-circle" alt="profile_image" />
    </div>
    <div class="col-md-6">
      <h3>@{{user.username}}</h3>
      {% if current_user != user %}
        {% if current_user.follow_status(user) %}
          {% if current_user.follow_status(user).approved %}
            <a class="btn btn-outline-dark btn-sm" href="#" data-toggle="modal" data-target="#unfollow">Following</a>
          {% else %}
            <a class="btn btn-outline-dark btn-sm" href="#" data-toggle="modal" data-target="#pending">Requested</a>
          {% endif %}
        {% else %}
          <a class="btn btn-outline-dark btn-sm" href="{{url_for('follows.create',idol_id=user.id)}}">Follow</a>
        {% endif %}
      {% else %}
          <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('users.edit',id=current_user.id)}}">Edit</a>  
      {% endif %}
    </div>
  </div>
  <div class="d-block text-center">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">posts</p>
          <p class="title">{{user.images | length}}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">followers</p>
          <p class="title">{{user.followers | length}}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">following</p>
          <p class="title">{{user.followings | length}}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title">0</p>
        </div>
      </div>
    </nav>
  </div>
  <!-- if (follow status is approve)/(current_user is user)/(user is not private),show images -->
  {% if current_user==user or user.private == False or current_user.follow_status(user).approved %}
    <div class="row mt-5">
        {% for image in images %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-image">
                  <figure class="image" style="background-image: url('{{image.image_url}}');background-size:cover;background-repeat: no-repeat;padding-top:90%;background-position: center;"></figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <p class="m-0">{{image.caption}}</p>
                    <small class="text-secondary">
                      <time>- {{image.created_at.strftime('%I:%M %p, %b %d')}}</time>
                    </small>
                    <p>Accumulated ${{ image.endorsements | sum(attribute='amount')}}</p>
                    {% if current_user != user %}
                    <a href="{{url_for('endorsement.new',id=image.id)}}" class="btn btn-primary">Donate</a>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  {% else %}
    <h5 class="text-center text-secondary mt-5">Follow @{{user.username}} to view the profile.</h5>
  {% endif %}
  
</div>

<!-- cancel request Modal -->
<div class="modal fade" id="pending" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{user.profile_image_url }}" width="100" class="rounded-circle my-3" alt="profile_image" />
        <p>If you change your mind, you'll have to request to follow <strong>@{{user.username}}</strong> again.</p>
        <a href="{{url_for('follows.unfollow',idol_id=user.id)}}" class="btn btn-primary">Unfollow</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- unfollow Modal -->
<div class="modal fade" id="unfollow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{user.profile_image_url }}" width="100" class="rounded-circle my-3" alt="profile_image" />
        <p>Unfollow <strong>@{{user.username}}</strong>?</p>
        <a href="{{url_for('follows.unfollow',idol_id=user.id)}}" class="btn btn-primary">Unfollow</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}