<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/next.ico') }}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    
    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}
    {% endblock %}

    <title>
      {% block title %}{% endblock %} | Nextagram
    </title>

  </head>
  <body>
    <!-- navbar -->
    {% include '_navbar.html' %}
    <!-- loader -->
    <div style="min-height: 10px;">
      <progress id="loader" class="progress insta-color mb-0" max="100"></progress>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script>
      $(document).ready(function() {
        $("#loader").fadeOut(1500)
      });
    </script>
  </body>
</html>
