<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="min-height: auto;" href="/">
    <img src="{{ url_for('static', filename='images/next.ico') }}" width="30" alt="logo">
    |  Nextagram
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">
            <svg aria-label="Find People" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M24 47.5C11 47.5.5 37 .5 24S11 .5 24 .5 47.5 11 47.5 24 37 47.5 24 47.5zm4.4-20.3c-.3.5-.7.9-1.2 1.2l-14.8 8.1c-.3.1-.6.1-.8-.1-.2-.2-.3-.5-.1-.8l8.1-14.8c.3-.5.7-.9 1.2-1.2l14.8-8.1c.3-.1.6-.1.8.1.2.2.3.5.1.8l-8.1 14.8zm-6.2-5L17.9 30l7.8-4.3-3.5-3.5z" fill-rule="evenodd"></path></svg>
          </a>
        </li>
        <div class="dropdown is-right">
          <div class="dropdown-trigger">
            <a id="showRequest" class="nav-link" aria-haspopup="true" aria-controls="dropdown-menu3">
              <svg aria-label="Activity Feed" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z" fill-rule="evenodd"></path></svg>
            </a>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <div class="px-4 mb-2">
                <h6 class="m-0">{{current_user.get_request|length}} Follow Requests</h6>
                <small class="text-secondary">Approve or ignore requests</small>
              </div>
              {% for request in current_user.get_request %}
                <div class="dropdown-item d-flex justify-content-between">
                  <a style="text-decoration: none;color:black" href="{{url_for('users.show',username=request.fan.username)}}">
                    <img src="{{request.fan.profile_image_url }}" width="48" class="img-thumbnail rounded-circle" alt="profile_image" />
                    <span>{{request.fan.username}}</span>
                  </a>
                  <div class="align-self-center">
                    <a class="btn btn-primary btn-sm" href="{{url_for('follows.update',fan_id=request.fan.id)}}">Confirm</a>
                    <a class="btn btn-outline-dark btn-sm" href="{{url_for('follows.destroy',fan_id=request.fan.id)}}">Delete</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.show',username=current_user.username)}}">
            <svg aria-label="Profile" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M24 27c-7.1 0-12.9-5.8-12.9-12.9s5.8-13 12.9-13c7.1 0 12.9 5.8 12.9 12.9S31.1 27 24 27zm0-22.9c-5.5 0-9.9 4.5-9.9 9.9s4.4 10 9.9 10 9.9-4.5 9.9-9.9-4.4-10-9.9-10zm20 42.8c-.8 0-1.5-.7-1.5-1.5V42c0-5-4-9-9-9h-19c-5 0-9 4-9 9v3.4c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V42c0-6.6 5.4-12 12-12h19c6.6 0 12 5.4 12 12v3.4c0 .8-.7 1.5-1.5 1.5z"></path></svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sessions.destroy')}}">
            <i style="font-size: 1.6rem;color:rgb(65, 64, 64);" class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sessions.new')}}">
            <i style="font-size: 1.3rem;color:rgb(65, 64, 64,0.5);" class="fas fa-sign-in-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.new')}}">
            <i style="font-size: 1.3rem;color:rgba(65, 64, 64, 0.5);" class="fas fa-user-plus"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Images</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="previewimage" width="100%" class="mb-2"/>
        <form action="{{url_for('images.create')}}" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" id="uploadFile" class="custom-file-input" name="image_file" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="submit" id="inputGroupFileAddon04">Upload</button>
            </div>
          </div>
          <div class="control">
            <textarea class="textarea" name="caption" placeholder="Normal textarea"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- follow request -->



<script>
  // live preview image
  document.getElementById("uploadFile").onchange = function () {
    let reader = new FileReader();
    reader.onload = function (e) {
      document.getElementById("previewimage").src = e.target.result;
    };
    reader.readAsDataURL(this.files[0]);
  };
  $('.custom-file-input').on('change', function() { 
    let fileName = $(this).val().split('\\').pop(); 
    $(this).next('.custom-file-label').addClass("selected").html(fileName); 
  });
  // control dropdown
  $("#showRequest").click(function(){
    if ($(".dropdown").hasClass("is-active")){
      $(".dropdown").removeClass("is-active")

    }else{
      $(".dropdown").addClass("is-active")
    }
  })
</script>