{% extends "_layout.html" %}

{% block title %}
  Homepage
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-8 px-5">
    {% for image in images %}
      <div class="card mb-3">
        <a style="text-decoration: none;padding:5px 8px" href="{{url_for('users.show',username=image.user.username)}}">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{image.user.profile_image_url}}" class="img-thumbnail rounded-circle" alt="profile_image">
              </figure>
            </div>
            <div class="media-content d-flex" style="align-self: center;">
              <p class="title is-4">{{image.user.username}}</p>
            </div>
          </div>
        </a>
        <div class="card-image">
          <figure class="image">
            <img src="{{image.image_url}}" alt="post_image">
          </figure>
        </div>
        <div class="card-content">
          <div class="py-2 d-flex justify-content-between">
            <div>
              <svg class="mx-1" aria-label="Like" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z" fill-rule="evenodd"></path></svg>
              <svg class="mx-1" aria-label="Comment" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd"></path></svg>
              <svg class="mx-1" aria-label="Share Post" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M46.5 3.5h-45C.6 3.5.2 4.6.8 5.2l16 15.8 5.5 22.8c.2.9 1.4 1 1.8.3L47.4 5c.4-.7-.1-1.5-.9-1.5zm-40.1 3h33.5L19.1 18c-.4.2-.9.1-1.2-.2L6.4 6.5zm17.7 31.8l-4-16.6c-.1-.4.1-.9.5-1.1L41.5 9 24.1 38.3z"></path><path d="M14.7 48.4l2.9-.7"></path></svg>
            </div>
            <div>
              <svg class="mx-1" aria-label="Save" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path></svg>
            </div>
          </div>
          <p class="title">0 likes</p>
          <div class="content d-flex">
            <span class="title">{{image.user.username}}</span>
            <span style="font-size:0.9rem;margin-left:5px" >{{image.caption}}</span>
          </div>
          <small style="font-size: 0.8rem;margin-left:5px;" class="text-secondary">
            <time>{{image.created_at.strftime('%I:%M %p, %b %d')}}</time>
          </small>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-md-4">
    <div class="card-content">
      <a style="text-decoration: none;color:black" href="{{url_for('users.show',username=current_user.username)}}">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48 ">
              <img src="{{current_user.profile_image_url}}" class="rounded-circle" alt="profile_image">
            </figure>
          </div>
          <div class="media-content">
            <p class="is-4 m-0 p-0">{{current_user.username}}</p>
            <small class="text-secondary m-0">@{{current_user.username}}</small>
          </div>
        </div>
      </a>
    </div>
    
    <div class="card mb-3">
      <span class="mt-2 ml-3">Your following</span>
      {% for user in users %}
        {% if user != current_user %}
        <div class="card-content py-1">
          <a style="text-decoration: none;color:black" href="{{url_for('users.show',username=user.username)}}">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48 ">
                  <img src="{{user.profile_image_url}}" class="img-thumbnail rounded-circle" alt="profile_image">
                </figure>
              </div>
              <div class="media-content">
                <p class="is-4">{{user.username}}</p>
              </div>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="card">
      <span class="mt-2 ml-3">Suggestions For You</span>
      {% for user in not_following %}
      <div class="card-content py-1 d-flex justify-content-between">
        <a style="text-decoration: none;color:black;" href="{{url_for('users.show',username=user.username)}}">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48 ">
                <img src="{{user.profile_image_url}}" class="img-thumbnail rounded-circle" alt="profile_image">
              </figure>
            </div>
            <div class="media-content">
              <p class="is-4">{{user.username}}</p>
            </div>
          </div>
        </a>
        <div class="">
          <a class="btn btn-outline-secondary btn-sm" href="{{url_for('follows.create',idol_id=user.id)}}">Follow</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}